.pole{
    position: relative;
    background-color: pink;
    height: 400px;
    width: 400px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.field__cell{
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: darkmagenta;
}
.field__cell--tile{
    position: absolute;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    background-color:  rgb(77, 4, 77);
    transition: 0.5s;
}
.modal{
    height: 100%;
    width: 100%;
    border-radius: inherit;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.modal.modal--visible{
    visibility: visible;
    opacity: 1;
}